*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(102, 102, 255);
    color: #fff;
    max-height: 150px;
    display: grid;
    grid-template-columns: 30% 50%;
    max-width: 100%;
}

h1{
   padding-top: 20px;
   margin-left: 20%;
   width: 200px;
}
ul{
    padding: 30px;
    display: flex;
    justify-content: right;
    margin-right: 50px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}
li{
  padding-left: 20px;
}
li:hover{
    cursor: pointer;
}
#secao-l{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 40px;
    max-width: 100%;
    margin: 0 200px;

}
.sapatos-l img{
 width: 400px;
}



.conteudo-l{
    width: 100%;
    padding-left: 100px;
}

h3{
    width: 200px;
}

h2{
    color:  rgb(102, 102, 255);
    padding-bottom: 20px;
    border-bottom: 3px solid  rgb(102, 102, 255);
}
.conteudo-l p{
    padding-top: 40px;
}

#secao-produtos{
    padding-top: 40px;
    max-width: 100%;
    margin: 0 200px;
    padding-bottom: 40px;
    
}
.tenis-img{
    display: grid;
    grid-template-columns: repeat(4, 21%);
    column-gap: 2%;
    width: 100%;
   
}
.tenis-img img{
  width: 180px;
  height: 170px;
}
.tenis-img div{
 margin-top: 20px;
}


button{
    color: #fff;
    background-color: rgb(102, 102, 255);
    margin: 10px 0;
    padding: 9px 0px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

@media screen and (min-width:641px) and (max-width:1023px) {
    #secao-l{
    display: block;
    max-width: 800px;
        
    }
    header{
        max-width: 100%;
        max-height: 100px;
    }
    
    .conteudo-l{
        padding: 20px 0;
      
    }
    h1{
        font-size: 22px;
        padding-left: 90px;
    }
    ul{
        font-size: 16px;
        margin-left: 100px;
        width: 100%;
    }
    
    .sapatos-l img{
        width: 100%;
       }
       #secao-produtos{
         max-width: 90%;
         margin: 10px 200px;
       }
    .tenis-img{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 63%);
    
    }
    .tenis-img img{
        width: 100px;
        padding-top: 20px;
      }
    
     h1{
        padding-top: 20px;
        margin-left: 10%;
        width: 200px;
     }
     .tenis-img div{
        width: 100%;
        
     }
    .tenis-img div h3{
        padding-bottom: 40px;
        width: 100%;
    }
    .tenis-img div p{
        width: 100%;
    }
    button{
        width: 150px;
        margin: 10px 0;
        font-size: 12px;
    }
    .espaco{
        padding: 0 ;
    }
}

@media screen and (max-width:640px) {
    .tenis-img{
        width: 90%;
        display: block;
    }
    .tenis-img div{
        width: 200px;
        
    }
    .tenis-img img{
        width: 300px;
    }
    .tenis-img div h3{
        width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .tenis-img div p{
        font-size: 14px;
       
    }
    header h1 {
        font-size: 22px;
    }
    header ul{
        width: 260px;
    }
    header ul li{
        font-size: 14px;
    
    }

    button{
        width: 300px;
    }
        
    #secao-l{
       display: block;
        width: 60%;
        margin: 0 50px;
      
    }

    .sapatos-l img{
        width: 300px;
    }
    .conteudo-l{
        width: 300px;
        display: block;
        padding: 0;
        margin-top: 20px;
        
    }

    #secao-produtos{
        margin: 0 70px;
    }
}

